@import '../../materialize/sass/components/color-variables';
@import '../../materialize/sass/components/color-classes';
@import '../../materialize/sass/components/variables';

.container {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.alignment {
    display: table-cell;
    vertical-align: middle;
}

.content {
    display: block;
    position: relative;
    padding: 0 7rem;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.title {
    > p {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}

.card {
    padding: 0 2rem !important;
    height: 100% !important;
    margin: auto;
    position: relative;
}

.card-row{
    height: 44%;
    margin-bottom: 8%;
    margin-top: 2rem;
}

.card-title {
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 1.2rem;
    left: 3.2rem;
}

.card-content {
    color: color("grey", "darken-3");
    display: table;
    margin: auto;
    left: 0;
    right: 0;
    padding: 4.5em 1.5rem 0;
    height: 100%;

    &:active, &:hover, &:focus {
        background-color: transparent !important;
    }

    > i {
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        display: inherit;
    }
}

.card-detail {
    text-align: left;
    padding-top: 2.5rem;
}

.helper-link {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    line-height: 2rem;
    text-align: center;
    
    &:hover, &:focus{
        cursor: pointer;

        > * {
            color: color("teal", "lighten-1");
        }
    }

    &:active {
        > * {
            color: color("teal", "darken-3");
        }
    }

    > :first-child {
        margin-right: 0.5rem;
    }

    > * {
        line-height: 2rem;
        vertical-align: middle;
        color: color("teal", "darken-1");
    }

    > span {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }
}

.self-training-guide-container {
    display: table;
    height: calc(100vh - 64px);
    width: 100vw;
}

.guide-img {
    margin-top: 1rem;
    width: 68vw;
}

.guide-img-container {
    display: table-cell;
    vertical-align: middle;

    >div {
        margin: auto;
        display: table;
    }
}

.dot-container {
    text-align: center;
    margin-top: 1rem;
    > i {
        padding: 0 0.25rem;
        color: color("teal", "lighten-4");
        text-shadow: 0 0 1px color("teal", "darken-4");

        &.selected {
            color: color("teal", "lighten-2");
        }
    }
}

.page-arrow {
    position: fixed;
    top: 50%;
    color: color("teal", "lighten-1");
    &.next {
      right: 4rem;
    }
    &.previous {
      left: 4rem;
    }
    &:hover {
      cursor: pointer;
      color: color("teal", "lighten-2");
    }
    &:active {
      color: color("teal", "darken-1");
    }
  }