@import '../../materialize/sass/components/color-variables';
@import '../../materialize/sass/components/color-classes';
@import '../../materialize/sass/components/variables';

.view-link {
    padding: 0 1rem;
    text-align: center;
    text-decoration: underline;
    display: inline-block;margin: auto;
    left: 0;
    right: 0;
    display: table;
    margin: auto;

    > a {
        color: color('teal', 'darken-1');
        font-size: 1.2rem;
    }
}