@import '../../materialize/sass/components/color-variables';
@import '../../materialize/sass/components/color-classes';
@import '../../materialize/sass/components/variables';

.container {
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: color("teal", "lighten-5");
    display: table;
}

.alignment {
    display: table-cell;
    vertical-align: middle;

    >div{
        margin: auto;
        display: table;
    }
}

.video {
    width: 100vw;
}

.countDown {
    color: $primary-color;
    font-size: 6rem;
    border: 0.5rem solid $primary-color;
    height: 10rem;
    width: 10rem;
    text-align: center;
    border-radius: 50%;
}