.container {
    padding: 0 1.5rem;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 1.5rem;
}

.item {
    font-size: 1.2rem;
}